* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
}

.container {
  padding: 0 25px !important;
}

.row {
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.router-link-active {
  text-decoration: underline !important;
}
